.selectedBlog-container {
    margin: 0 auto;
    text-align: center;
}

.total-bookMark {
    background-color: rgba(96, 71, 236, 0.1);
    border-radius: 8px;
    color: #6047EC;
    padding: 20px 30px;
    width: 75%;
    border: 1px solid #6047EC;
    margin: 30px auto;
    text-align: center;
}