.header-container {
    margin-left: 3px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
}

.nav-items {
    margin-left: 10px;
}

.nav-items a {
    margin-right: 20px;
    color: black;
}